<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Loader</title>
    <link rel="stylesheet" href="CSS/loader.css">
</head>
<body>

    <div id="loader">
        <video autoplay loop muted>
            <source src="EarthZoom.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="main">
        <h1>Welcome</h1>
    </div>

    <script src="Javascript/loader.js"></script>
</body>
</html>
